
<div>
  <h1 class="text-center mt-3">
    Bienvenido a social media app!
  </h1>
  <div class="pt-5 d-flex justify-content-center">
    <div class="card my-card">
      <h5 class="card-header text-center">
        Iniciar Sesión
      </h5>
      <div class="card-body" >
        <div class="row m-4">
          <div class="col-sm-12 mb-4 d-flex justify-content-center">
            <div id="my-signin2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

