<div class="popup-container">
    <div class="card">
      <div class="card-header">
        &nbsp;
      </div>
      <div class="card-body">
          <div class="alert alert-success" role="alert">
              {{data.message}}
          </div>
          <app-spinner></app-spinner>
      </div>
    </div>
</div>
  
