/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.popup-container {
    width: 90%;
    max-width: 500px;
    min-height: 200px;
    max-height: 300px;
    background: #f2f2f2;
    margin: 50px auto;
}

app-root,
app-inicio {
    display: block;
    height: 100%;
}

app-root > div {
    overflow: hidden;
}
app-inicio > div,
div[_ngcontent-c0] {
    height: 100%;
}