<div class="profile">
    <div [hidden]="!profile" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <button class="btn btn-primary btn-sm ml-3" (click)="logout()" type="submit">Cerrar Sesión</button>
          </li>
        </ol>
      </nav>
      <mat-card class="my-card" [hidden]='!profile'>
        <div class="card">
          <h4 class="card-header">
            Nombre completo: <strong>{{profile?.fullName}}</strong>
          </h4>
          <div class="card-body p-s-0">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <img src="{{profile?.imageUrl}}" alt="profile photo">
                  </div>
                  <div class="col-12 col-md-9 d-flex align-items-center">
                      <strong> Foto de perfil</strong>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                Correo Electrónico <strong>{{profile?.email}}</strong>
              </li>
            </ul>
          </div>
        </div>
      </mat-card>
      <app-base-chart [data]="employees"></app-base-chart>
    </div>
    <div [hidden]="profile">
        <div class="alert alert-primary" role="alert">
          Obteniendo información 
        </div>
        <app-spinner></app-spinner>
    </div>
  </div>