.profile {
    width: 98%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.card {
    height: auto;
}

.mat-list-item {
    margin: 20px 0;
}
.mat-list-item:first-child {
    margin-bottom: 50px;
}
.mat-list-item .mat-card {
    width: 80%;
    margin: 5px auto;
}

.card-body {
    padding: 5px;
}